*{
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	box-sizing: border-box;
}

body{
	background-color: #F0F6F7FF;
	color: #343148FF;
	z-index: -10;
}
nav{
	display: flex;
	position: fixed;
	top:0px;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	min-height: 15vh;
	background:#F0F6F7FF;
	font-family: 'Poppins', sans-serif;
	z-index: 2;
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button{
	color:#F0F6F7FF;
	height: 40px;
	width: 140px;
	border-radius: 20px; 
	background-color:#9F6B99FF;
	padding: 2px 0px 8px 0px;
	font-size: 23px;
	z-index: -1;
}


.navlinks a{
	color: #343148FF;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 1.3em;
	font-weight: 700;
	transition: color 0.25s ease-in;

}
.navlinks a:hover{
	text-decoration: none;
	color: #9F6B99FF;
}

.navlinks li{
	color: #343148FF;
	list-style: none;
	align-items: center;
	
}

h1.title{
	color: #343148FF;
	
	margin: 5vh 0px 0px 0px;
	display: flex;
	justify-content: center;
	font-size: 50px;
}

#t_logo :hover{
	text-decoration: none;
}
#t_logo{
	text-decoration: none;
	color: #343148FF;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	font-size: 20px;
	text-shadow: 1px 1px 1px #000000;

}

h2{
	margin-top: 6%;
	color: #343148FF;
}

.logo{
	padding-top:7px; 
}
.navlinks{
	display: flex;
	width: 60%;
	justify-content: space-around;
	margin-bottom: 0px;
}


.burger{
	display:none;
}

.burger div{
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: #2C2B30;
}

.profile{
	color: #343148FF;
	background-color: #DFDCE5FF;#F1F4FFFF;
	height: 70vh;
	width:95%;
	position: relative;
	top:18%;
	z-index: -1;
	border-radius: 20px;
	margin: 0px 2.5% 0px;
	float: left;
	clear: both;
	min-height: 500px;
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bio{

	position: relative;
	top:20%;

	margin: auto;

}
.status.title{
	margin: 8vh; 

	font-size: 26px;
}

.about,.projects,.contact{
	color: #343148FF;
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: auto;
	width: 95%;
	background-color: #DFDCE5FF;
	z-index: -1;
	border-radius: 20px;
	float: left;
	clear: both;
	position: relative;
	top:25%;
	margin: 2.5%; 


}



.panelContainer {
	clear: left;
	margin-bottom: 25px;	
	background-color: #DFDCE5FF;
	margin:10px;
	padding: 10px;
	z-index: -1;

}

.about{
	background-color: #4F3466FF;
}



.tabs {
	margin: 0;
	padding: 0;	
	list-style: none;
	z-index: 1;	
}

.tabs li {
	float: left;
	width: 100px;
	padding: 0;
	margin-left: 10px;
	text-align: center;
	z-index: 1;
}

.tabs a {
	display: block;
	text-decoration: none;
	color: #000000;
    font-weight: bold;
	padding:  8px;
	margin-right: 4px; 
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
	background-color:#DFDCE5FF;
    margin-bottom: -2px; 
    z-index: 1;
}


.tabs a.active {
	border-bottom: 2px solid white;
	background-color: #fff;
	color: #000;
    font-weight: bold;
}

.techic{
	font-size: 4em;
}
.soc{
	font-size: 1em;
}


.projects{
	height: auto;
	margin-bottom: 3%;
}

.contact{

	justify-content: center;
	padding-top:5vh; 
	height: 600px;
	width:100%;
	margin:0px;
	margin-top:5%;
}

#cont_info{
	float:left;
	width: 50%;
	height: 60%;
	position: relative;
	margin: 10vh 0px;
}

#form_div{

	float:left;
	height: 60%;
	width: 50%;
	position: relative;
	margin:0px 0px;
}
label{
	display: block;
	font-size: 28px;
}


.car-img{

    position: relative;
    margin: 10% 0%;
    padding: 0px;
} 
.car-img>img{
    height:60%;
    width:60%;

    display: flex;
    margin:auto;
    padding: 0px;
}

.small_icon{
	font-size: 2em;
	color: #343148FF;
}

.techused{
	font-size: 2em;
}

.soc_ic{
    text-decoration: none;
    font-size: 3vw;
    margin: 0.5em;
    color: #343148FF;
    transition: color 0.4s;
}
.soc_ic:hover{
	text-decoration: none;
    color:#9F6B99FF; 
}




.projinfo{
	float:left;
	position: relative;
	left:18%;
	top:4vh;
	width: 35%;
	margin:0px;
	padding-bottom: 4vh;
	
}
.projinfo h1{
	font-size: 26px;
}


hr{
	width: 50vw;
	border-width: 5px;
	border-radius: 30%;
	margin: auto;
}
.title-bar {
	width: 20vw;
	border-width: 3px;
	border-radius: 30%;
	margin: auto;
	margin-bottom: 5px; 
}

.tech_group{
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.tech{
	background-color: #F0F6F7FF;
	margin:20px;
	border-radius: 25px;
	height: 200px;
	width: 50%;
	position: relative;
	margin: 20px auto;
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tech h4{
	font-size: 33px;
	padding: 10px ;
	margin-bottom: 10px;
}

.tech .techic{
	font-size: 3.5em;
	padding: 10px;
}


#profpic{
	border-radius: 50%;
	margin: auto;
	height: 250px;
	width: 250px;
	display: flex;
	position: relative;
	top:10%;

}
#interests{
	font-size: 1.5em;
	color: #2C2B30;
	list-style: none;
	margin: 2% 7%;
	
}

#interests li{
	margin: 1.2em 0px;
}

#carouselExampleControls{
	
	margin-right: 0px;
	height:320px;
	width: 320px;
	float: left;
	position: relative;
	left: 13%;
	top:8%;
}
#mainlogo{
	height:11vh;
	width: 11vh;
	position: relative;
	left: 100%;
}

@media screen and (max-width: 768px){


	.navlinks{
		
		color: #343148FF;
		position: absolute;
		right:0px;
		height:85vh;
		top: 15vh;
		display: flex;
		flex-direction: column;
		background-color:#F0F6F7FF;
		align-items: center;
		width:50%;
		transform: translateX(100%);
		transition:transform 0.5s ease-in;
		z-index: 10;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.navlinks li{
		position: relative;
		opacity:0;

	}
	.navlinks li :hover{
		
		text-decoration: none;
		color: #9F6B99FF;
	}
	.burger{
		display: block;
		cursor: pointer;
	}
	.nav-active{
		transform: translateX(0%);
	}

	.about{
		font-size: 4vw;
	}

	.bio h1{
		font-size: 8vw;
	}
	.bio h4{
		font-size: 4vw;
	}
	.title{
		font-size: 30px;
	}
	.status{
		margin-top:2%;
		font-size: 0.8 em;
	}

	.projinfo{
		width:40%;
		margin: 0px 30%;
		position: relative;
		top:0px;
		left:0px;
	}
	.projinfo h1{
		font-size: 26px;

	}
	.projinfo p{
		font-size: 3.8vw;
	}

	@keyframes navlinksFade{
		from{
			opacity: 0;
			transform: translateX(50px);
		}
		to{
			opacity: 1;
			transform: translateX(0px);
		}
	}
	#interests{

		font-size: 3.8vw;
	}
	#carouselExampleControls{
		width:50vw;
		height: 50vw;
		left: 23vw;
		top:0px;
		margin:auto;
	}

	#mail{
		font-size: 15px;
		font-weight: 700;
	}
	#form_div{
		width: 50%;
	}
	label{
		font-size: 20px;

	}

	#cont_info{
		left: 20%;
		width: 60%;
		height: 30%;
		margin:20px;
	}

	#form_div{
		left:25%;
		height: 80%;
		width: 50%;

	}
	.soc_ic{
		font-size: 1.2em;
	}
	.contact{
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 10vh;
	}
	#cont_info{
		margin: 3vh 0px;
	}

	.tech{
		width: 50%;
		height:15vh;
	}

	.tech h4{
		font-size: 20px;
		padding: 15px;
	}

	.tech .techic{
		padding:10px;
		font-size: 1.6em;
	}



}

















